@tailwind base;
@tailwind components;
@tailwind utilities;

#Elements {
    .draggable--original {
        display: block !important;
    }

    .draggable-source--is-dragging {
        display: none !important;
    }

    /* .draggable--over {
        @apply bg-gray-800 z-50;
    } */

    /*.draggable-mirror {*/
    /*    display: none !important;*/
    /*}*/
}

#ElementsEdits {
    /**[draggable].draggable-mirror {*/
    /*    position: relative !important;*/
    /*    width: 100% !important;*/
    /*    height: 100px !important;*/
    /*    left: 0 !important;*/
    /*    top: 0 !important;*/
    /*    transform: none !important;*/
    /*}*/
}

.draggable-source--is-dragging {
    cursor: grabbing !important;
}

.c-tooltip {
    opacity: 0;
    transition: ease .3s;
    visibility: hidden;
}

.c-tooltip:hover {
    opacity: 1 !important;
    visibility: visible !important;
}

.c-tooltip-trigger:hover ~ .c-tooltip {
    transform: translateY(-25%);
    opacity: 1;
    visibility: visible;
}

.c-btn {
    &.active {
        @apply text-gray-800 bg-white;
    }
}

/* #ElementsEdits {
    & .c-component-edit {
        opacity: 0.3;
        filter: blur(2px);
        pointer-events: none;

        &.droppable-container--active {
            opacity: 1;
            filter: none;
            pointer-events: all;
        }
    }
} */

.c-editor {
    user-select: none;
}
